name: myDrive
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1


environment:
  sdk: '>=2.18.2 <3.0.0'


dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  google_fonts: ^3.0.1
  flutter_launcher_icons: ^0.11.0
  firebase_auth: ^4.2.3
  google_sign_in: ^5.4.2
  provider: ^6.0.5
  font_awesome_flutter: ^10.3.0
  rflutter_alert: ^2.0.4


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/images/

  fonts:
    - family: Montserrat
      fonts:
        - asset: assets/fonts/Montserrat/Montserrat-Regular.ttf
#        - asset: fonts/Schyler-Italic.ttf
#          style: italic

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icons/car.png"
  min_sdk_android: 21